.footer {
  background-color: var(--gray-100);
}

.footer__content {
  display: flex;
  justify-content: center;
  padding: 15px;
} 

.flex-container {
  display: flex;
  justify-content: space-around;

}

.tag-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
}

.logo {
  transition: 200ms;
}

.logo:hover {
  transform: scale(1.2);
}