.content-card {
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  overflow: hidden;
}

.content-card__header {
  display: flex;
  align-items: center;
}

.content-card__details {
  flex: 1;
  line-height: 1;
  text-align: justify;
  line-height: 1.5;
  margin-left: 1em;
  margin-right: 1em;
}

.content-card__footer {
  display: flex;
  justify-content: space-between;
  gap: 0.5em;
  align-items: center;
}

.content-card__footer div {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.content-card__avatar {
  margin-right: 1em;
}