.content-card {
  box-shadow: var(--shadow-md);
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 1em;
  overflow: hidden;
}

.content-card__header {
  display: flex;
  gap: 0.5em;
  align-items: center;
}

.content-card__details {
  display: flex;
  flex-direction: column;
}

.content-card__footer {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

.content-card__avatar {
  max-width: 64px;
}

.photo__delete-logo {
  display: flex;
  justify-content: flex-end;
  padding-bottom: 5px;
  padding-right: 10px;
}